

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
		.cover {
			background-image: url('path-to-image.jpg');
			background-size: cover;
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: black;
			text-align: center;
		}

		h1 {
			font-size: 4rem;
			margin-bottom: 5px;
		}

		p {
			font-size: 2rem;
			margin-top: 50px;
		}

		a {
			background-color: #007bff;
			border: none;
			color: white;
			padding: 10px 20px;
			font-size: 1.5rem;
			margin-top: 50px;
			text-decoration: none;
			border-radius: 5px;
		}

			a:hover {
				background-color: #0069d9;
				cursor: pointer;
			}
    </style>
</head>
<body>
	<div class="cover">
		<h1>About Project</h1>
		<p>The goal of this project is to gather comprehensive and accurate data on the patterns and trends of employee layoffs within the IT industry. This includes identifying the reasons for the terminations, the affected job roles, the impacted departments, and the overall impact on the affected companies. By analyzing this information, we aim to provide valuable insights and recommendations to help both employees and employers navigate this challenging aspect of the tech industry.</p>
		
	</div>
</body>
</html>
